@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}
@media only screen and (max-width:800px){
*{
	box-sizing: border-box;
}

.contenedor{
	display: flex;
	flex-direction:column;
	max-width: 100vw;
	
	
	 /* display: grid;
	 grid-template-columns: repeat(1fr,4); */

}
h1{
	width: 100vw;
}
p{
	font-size: 1rem;
}
nav{
	min-width: 100vw;
	background-color: rgb(199, 148, 53);
	border-bottom: 1px solid #000;
}
ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:7rem;}
li a {
	margin: 60px 0;
	color:black;
}
section{
	float: none;
	width: 100vw;
	margin: 0;
	padding: 2rem 0;
	border-bottom: 1px solid #000;
	min-height: 10rem;
}
aside{
	
	width: 100vw;
	margin:0;
	float: none;
	height:auto;
	padding: 30px 0;
}
h2{
	margin: 40px 0;
}


}