<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, modi.</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero dolorum minima ad unde error nesciunt, architecto pariatur consectetur numquam aliquam quae, est non explicabo. Magni architecto quam, voluptatem accusantium ullam consequatur perspiciatis distinctio doloremque cum nemo optio hic suscipit, nesciunt amet recusandae quisquam possimus error nam adipisci quod ut ipsam delectus placeat. Minima dolores id, commodi voluptates deserunt sequi alias eveniet vel reprehenderit illum asperiores unde laboriosam illo consequatur dignissimos. Fugiat harum dolorum ipsa error dolore ea aperiam optio dolor.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero dolorum minima ad unde error nesciunt, architecto pariatur consectetur numquam aliquam quae, est non explicabo. Magni architecto quam, voluptatem accusantium ullam consequatur perspiciatis distinctio doloremque cum nemo optio hic suscipit, nesciunt amet recusandae quisquam possimus error nam adipisci quod ut ipsam delectus placeat. Minima dolores id, commodi voluptates deserunt sequi alias eveniet vel reprehenderit illum asperiores unde laboriosam illo consequatur dignissimos. Fugiat harum dolorum ipsa error dolore ea aperiam optio dolor.  </p>
<style>
    body{
        background: red;;
    }
</style>