<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
       <li><a href="/">Home</a></li>
      <li><a href="/consultas">consultas</a></li>
      <li><a href="/contactos">contacto</a></li>
      <li><a href="/servicios">Servicios</a></li>
      
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
