<link rel="stylesheet" href="/stylesheets/index.css"> 
         <header>
        <div class="header-content">
            <h1>Hockey Management </h1>
            <div class="line"></div>
            <p>Se juega como se entrena</p>
            <a href="quienesSomos.html" class="ctn">Quienes somos? </a>

        </div>
        <div class="header-img">
        
        </div>
     </header>
    <main>
        <div class="title">
            <h2>Entrenamientos Personalizados</h2>
        </div>
        <div class="cards-content">
          
            <div class="card">
                <img src="../images/img-6.jpeg" alt="">
                    <h4>Jugadores</h4>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam nulla, iusto, autem consectetur perferendis nostrum velit maxime fugiat ea culpa libero ad eveniet accusamus facilis quisquam adipisci. Qui, iure.</p>
               <a href="sevicio.html" class="ctn">M치s info</a>
            </div>
            <div class="card">
                <img src="../images/img-5.jpeg" alt="">
                    <h4>Mamis</h4>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam nulla, iusto, autem consectetur perferendis nostrum velit maxime fugiat ea culpa libero ad eveniet accusamus facilis quisquam adipisci. Qui, iure.</p>
               <a href="sevicio.html" class="ctn">M치s info</a>
            </div>
            <div class="card">
                <img src="../images/img-3.jpeg" alt="">
                    <h4>Psicomotricidad</h4>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam nulla, iusto, autem consectetur perferendis nostrum velit maxime fugiat ea culpa libero ad eveniet accusamus facilis quisquam adipisci. Qui, iure.</p>
               <a href="sevicio.html" class="ctn">M치s info</a>
            </div>
            <div class="card">
                <img src="../images/img-4.jpeg" alt="">
                    <h4>Arqueros</h4>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam nulla, iusto, autem consectetur perferendis nostrum velit maxime fugiat ea culpa libero ad eveniet accusamus facilis quisquam adipisci. Qui, iure.</p>
               <a href="sevicio.html" class="ctn">M치s info</a>
            </div>
        </div>
        <div class="asesoramientos">
            <div class="asesoramientos-text">
                <h1>Asesoramiento clubes</h1>
            <div class="line"></div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem voluptate voluptatibus officia illum tempore harum blanditiis dolores! Temporibus, ad eius!</p>
            <a href="#" class="ctn">Mas info</a>
            </div>
          <div class="asesoramientos-img">
            <img src="../images/logos.png" alt="">
          </div>
        </div>
    </main>
    
    <script src="../JavaScript/main.js"></script>