<link rel="stylesheet" href="/stylesheets/novedades.css">
<div class="margin"></div>
<div class="body">
    <h1>Novedades</h1>

    {{#each novedades}}
        <div class="novedad">
         <h2>{{titulo}} </h1>
            <h4>{{subtitulo}} </h4>
         <p>{{cuerpo}} </p>
        
         <div class="margin"></div>
        </div>
 {{/each }}
</div>