    <link rel="stylesheet" href="/stylesheets/quienesSomos.css">

    <header>
        <div class="header">
       
            <div class="photos">
                <div class="header-img">
                     <img src="../images/LOGO HM NEGO-AZUL.png" alt=""> 
                </div>
               
            </div>
       
        <div class="content">
           
            <h1>Hockey Management</h1>
            <div class="line"></div>
            <p>EL CONCEPTO <b>“MANAGEMENT”</b> (ADMINISTRACIÓN O GESTIÓN EN TODAS LAS ACTIVIDADES EMPRESARIALES Y ORGANIZACIONES HUMANAS) ES SIMPLEMENTE EL ACTO DE UNIR LAS PERSONAS PARA LOGRAR LAS METAS Y OBJETIVOS DESEADOS.</p>
            <p> 
                ES POR ESO QUE DECIDIMOS CREAR UNA ORGANIZACIÓN QUE TRABAJE COMO EQUIPO, CON OBJETIVOS CLAROS Y ASÍ PODER PRESTAR LOS SERVICIOS ADECUADOS A CLUBES Y/O INSTITUCIONES/ASOCIACIONES/FEDERACIONES QUE LO REQUIERAN.</p>
            
         
          
        </div>
       </div>
    </header>
    <!-- main -->
    <main>
      <h2 class="title">Fundadores</h2> 
     <div class="founders">
        <div class="card">
            <!-- <div class="content"> -->
                <img src="../images/card-5.jpeg" alt="">
            <div class="text">
                <h3>Jose Gonzalez</h3>
                <p>Co-Fundador de hockeymanagement y encargado de sede 
                    Argentina
                </p>
            </div>
            <!-- </div> -->
            <div class="information">
                <h4>Historial</h4>
                <h5>Entrenador y Heach Coach en:</h5>
                <ul>
                    <li>Club Vistalba</li>
                    <li>Club Amancay</li>
                    <li>Club Teque</li>
                    <li>Seleccionados Mendocinos</li>
             </ul>
                <h4>Logros</h4>
                <ul>
                    <li>Campeon seleccionados mayores damas y caballeros en los torneos Argentinos</li>
                    <li>Medalla de Plata como entrenador selección Argentina Sub18 en los JJOO de la Juventud en Singapur 2010</li>
                    <li>Ex ayudante Leoncitas en los Juegos Sudamericanos</li>
                    <li>Ex Head Coach Seleccionador Mendocinos</li>
             </ul>
             <h5>En la Actualidad</h5>
             <ul>
                <li>1ra Club Universidad de Cuyo</li>
                <li>Asociacion Mendocina</li>
             </ul>
            </div>
        </div>
        <div class="card">
          <!-- <div class="content"> -->
            <img src="../images/card-4.jpeg" alt="">
            <div class="text">
                <h3>Cristian Gonzalez</h3>
                <p>Co-Fundador de hockeymanagement
                     y encargado de sede Chile
                </p>
            </div>
          <!-- </div> -->
          <div class="information">
            <h4>Historial</h4>
            <ul>
                <li>Entrenador y Jugador en España,Belgica</li>
                <li>Entrenador en Vistalba y Teque</li>
                <li>Entrenador y Head Coach en CDAA(chile) y PWDD(chile)</li>
         </ul>
        
            <h4>Logros</h4>
            <ul>
                <li>Clasificación Mundial Diablos y 2do lugar Panamericano</li>
                <li>Campeon Plantel Superior Contry</li>
                
         </ul>
         <h5>En la Actualidad</h5>
         <ul>
            <li>Head Coach y Entrenador en PWDD</li>
            <li>Segundo Entrenador de los Diablos de Chile</li>
         </ul>
        </div>
        </div>
     </div>
   
    
    </main>