<link rel="stylesheet" href="/stylesheets/servicio.css">
<header>
    <div class="header-content">
        <h1>Servicios</h1>
        <div class="line"></div>
        <P>Dentro de Hockey Management tenemos una amplia gama de servicios que van desde los entrenamientos Personalizados
    del jugador , hasta capacitaciones , asesoremientos , clinicas, giras ,etc con clubes , federaciones,etc:</P>
    <a href="sevicio.html" class="ctn">Contactanos</a>
    </div>
      
      <div class="photos">
         <img src="../images/servicio-4.jpg" alt="">
         <img src="../images/servicio-3.jpeg" alt="">
         <img src="../images/servicio-2.jpeg" alt="">
         <img src="../images/servicio-1.jpeg" alt="">
     </div>  
  </header>
    <main>
        <div class="servicios">
            <div class="servicios-card">
                <h2>Entrenamientos Personalizados</h2>
               <div class="tipos-card">
                  <div class="content">
                    <h3>Jugadores</h3>
                    <h4>Enfoque</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                    
                </div>
                <div class="img">
                    <img src="../images/servicio-7.jpeg" alt="">
                   </div>
                </div>
              <div class="tipos-card">
                <div class="content">
                    <h3>Arqueros</h3>
                   <h4>Enfoque</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                 </div>
                    <div class="img">
                    <img src="../images/servicio-6.jpeg" alt="">
                   </div>
                </div>
              <div class="tipos-card">
                <div class="content">
                    <h3>Psicomotricidad</h3>
                   <h4>Enfoque</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                 </div>
                    <div class="img">
                    <img src="../images/servicio-8.jpeg" alt="">
                   </div>
                </div>
              <div class="tipos-card">
                <div class="content">
                    <h3>Mamis</h3>
                   <h4>Enfoque</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                 </div>
                    <div class="img">
                    <img src="../images/servicio-9.jpeg" alt="">
                   </div>
                </div>
               
                </div>
            <div class="servicios-card">
                <h2>Instituciones</h2>
               <div class="tipos-card">
                  <div class="content">
                    <h3>Asesoramientos</h3>
                    <h4>Enfoque</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                </div>
                <div class="img">
                    <img src="../images/servicio-7.jpeg" alt="">
                   </div>
                </div>
              <div class="tipos-card">
                <div class="content">
                    <h3>Capacitaciones</h3>
                   <h4>Enfoque</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                 </div>
                    <div class="img">
                    <img src="../images/servicio-7.jpeg" alt="">
                   </div>
                </div>
              <div class="tipos-card">
                <div class="content">
                    <h3>Clinicas</h3>
                   <h4>Enfoque</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                 </div>
                    <div class="img">
                    <img src="../images/servicio-12.jpeg" alt="">
                   </div>
                </div>
              <div class="tipos-card">
                <div class="content">
                    <h3>Campus</h3>
                   <h4>Enfoque</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officiis exercitationem, ullam odit rem minus pariatur deleniti optio dolores consectetur.</p>
                 </div>
                    <div class="img">
                    <img src="../images/servicio-7.jpeg" alt="">
                   </div>
                </div>
               
                </div>
            </div>
        </div>
    </main>